{% extends 'base_front.html.twig' %}
{% block body %}



    <link rel='stylesheet' id='hello-elementor-css'  href='../wp-content/themes/hello-elementor/style.min8066.css?ver=2.4.1' type='text/css' media='all' />

    <main class="site-main post-5 page type-page status-publish hentry" role="main">
        <header class="page-header">

            <div class="page-content">

                <div class="woocommerce"><div class="woocommerce-notices-wrapper"></div>


                    {% if app.user %}
                    <table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents" cellspacing="0">
                        <thead>
                        <tr>
                                <td>Numero De Commande</td>
                                <td>Date D'Achat</td>
                                <td>Nom Du Client</td>
                                <td>Nombre Achetée</td>

                            </tr>
                                <tr>
                                    {% for achat in achats %}
                                    {% if achat.IdUser.id == app.user.id %}

                                    <th class="Numero Du Commande">{{achat.id}}</th>
                                    <th class="Date">{{achat.date ? achat.date|date('Y-m-d') : '' }}</th>
                                    <th class="name">{{achat.nomClient}}</th>
                                    <th class="numeroClient">{{achat.numeroClient}}</th>

                                </tr>

                                    {% endif %}
                                {% endfor %}


                            <tbody>

                            <tr class="woocommerce-cart-form__cart-item cart_item">






                            <tr>
                                <td colspan="6" class="actions">
                                    <button type="submit" class="button" name="update_cart" value="Update cart">Confirmer L'achat</button>
                            <tr></tr>
                            <div class="coupon">
                                <label for="coupon_code">Coupon:</label> <input type="text" name="coupon_code" class="input-text" id="coupon_code" value="" placeholder="Coupon code" /> <button type="submit" class="button" name="apply_coupon" value="Apply coupon">Apply coupon</button>
                            </div>
                            <h2>Cart totals</h2>

                            <table cellspacing="0" class="shop_table shop_table_responsive">

                                <tr class="cart-subtotal">
                                    <th>Subtotal</th>
                                    <td data-title="Subtotal"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&pound;</span>entrain</bdi></span></td>
                                </tr>
                                <tr class="order-total">
                                    <th>Total</th>
                                    <td data-title="Total"><strong><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&pound;</span>entrain</bdi></span></strong> </td>
                                </tr>


                            {% else %} <h1>veuillez vous connecter</h1>
                            {% endif %}


            </section><!-- .comments-area -->
    </main>

{% endblock %}
